body{
	padding:0 !important;
    font-family: "Open Sans";
    
}

.main-nav{
    background-color:#343434;
    color:#fff;
    padding:5px;
    height:60px;
}
.main-nav span{
    padding: 2px 10px;
    display: inline-block;
    position:relative;
    top:10px;
    margin-top: 3px;
}
.search-bar{position: relative;top:10px;}
#search-icon{
    background-color:#fff;
    border:0;
    border-radius: 20px 0 0 20px;
    
}
.search-control{
    border:0;
    padding-left:2px;
}
#search-btn{
    background-color: #23C670;
    border-radius:0 20px 20px 0;
    border: 1px solid #23C670;
    color:#fff;
    padding-right:20px;
}
.category-nav{
    background-color:#444244;
    color:#fff;
    text-transform: uppercase;
    margin-bottom:20px;
}

.category-nav ul{margin-bottom:0;}
.category-nav ul li{
    display:inline-block;
    padding: 15px 15px;
    color:#fff!important;
    font-size:13px;
    cursor:pointer;
    
}

.category-nav ul li:hover{
    color:#222121!important;
    background-color:#fff;
}
.electronics {list-style:none;-webkit-padding-start:0;font-size:13px;}


.category-item,.brands-item{
    overflow: hidden;
    padding:20px;
    background-color:#fff;
    color:#222121;
    position: absolute;
    top:-20px;
    width:100%;
    z-index:100000;
    height:0;
    opacity:0;
    overflow:hidden;
    border: 1px solid #dbdbdb;
}
.category-item.expand,.brands-item.expand{
    height:auto;
    opacity:1;
}
.category-item ul li,.brands-item ul li{
    cursor:pointer;
    transition: all 0.3s ease;
    padding:5px;
    color:#9FA6AB;
}
.category-item ul li:hover,.brands-item ul li:hover{
    color:#fff;
    background-color:#23C670;
}
.category-item p,.brands-item p{
    font-size:14px;
    text-transform: uppercase;
    font-weight:600;
    color:#575558;
}

.category.expand,.brands.expand{background-color:#fff;color:#222121!important;font-weight:600;}

.image-section{
    position: relative;
    height:400px;
    background:url(../img/Layer%201.png);
    background-size: cover;
    background-position: center;
}
.image-section img{}
.content-section{
    position: absolute;
    top:0;
    margin-right:30px;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.3);
    padding:20px;
    color:#fff;
}
.how-to{
    background:url(../img/31-circle-cross-blue-pattern.jpg);
    background-size:cover;
    background-position: center;
    padding:30px;
    height:400px;
    width: 100%;
    
    
}
.product-item{
    height:386px;
    border: 1px solid #dbdbdb;
    margin-bottom:20px;
    transition: all 0.3s ease;
}
.product-item:hover{
    border: 1px solid #23C670;
}
.product-name{
    height:70px;
    position: relative;
    margin-top:20px;
    background-color:#fff;
    
}
.product-name p{
    position: absolute;
    width:100%;
    bottom:5px;
    /*text-align: left;*/
    padding:15px;
    font-size:12px;
    background-color:#fff;
    margin-bottom:0;
    padding-bottom:0px;
}
.price{text-align:left!important;padding:0px 15px;margin-bottom:0;font-size:20px;font-weight:600;}
.actual-price{/*text-align:left!important;*/padding: 0px 15px;margin-top:0;color:#9FA6AB;}
.coupon-item{
    height:230px;
}


.green-line{
    width:100px;
    display:inline-block;
    border-bottom:2px solid #23C670;
}
.green{
    color:#23C670;
}
.ofh{
    overflow: hidden;
}
.pointer{
    cursor:pointer;
}
.unstyled{
    list-style: none;
    -webkit-padding-start:0;
}
.unstyled li{
    list-style: none;
    -webkit-padding-start:0;
    
}
.fw-300{
    font-weight:300;
}
.coupon{
    font-size:35px;
    border : 5px dashed #fff;
    padding: 5px 30px;
    color:#F1465B;
    background: rgba(255,255,255,0.8);
}
.coupon-item p{
    text-align: center;
}
.btn{
    transition: all 0.3s ease;
}
.btn{border-radius:0;}
.btn-round{border-radius:20px;}
.btn-wide{padding-left:20px;padding-right:20px;}
.btn-primary{
    background-color: #23C670;
    border: 1px solid #23C670;
}
.btn-primary:hover{
    background-color:#249F5E;
    border: 1px solid #249F5E; 
    
}
.btn-warning{
    background-color: #F5A623;
}
.cashback{font-size:20px;text-transform: uppercase;}
.yellow{color: #F5A623;}
.fw-700{font-weight:700;}
.view-offer{padding-top:10px;border-top: 1px solid #dbdbdb;}
.link{
    transition: all 0.3s ease;
}
.link:hover{
    text-decoration: underline;
}



.profile-box{
	border: 1px solid #dbdbdb;
	min-height:300px;
	padding:20px;
	text-align: center;

}
.profile{
	margin-top:70px;
	margin-bottom:300px;
}
.profile-img{
	width:90px;
	margin:20px auto;
	margin-bottom:40px;
}
.profile-box h4{
	text-align: left!important;
	font-weight: 300;
}
.profile-box p{
	text-align: left!important;
}
.profile-box a{
	text-align: left!important;
	display: block;
}
.profile-box label{
	text-align: left!important;
	display: block;
	margin-bottom: 0;
	font-size:12px;
	color:#4e4e4e;
	font-weight:600;
	text-transform: uppercase;
}
.profile-box .border-top{
	padding-top:20px;
	border-top: 1px solid #dbdbdb;
	margin-top:20px;
}
.profile-tab li{
	display:inline-block;
	padding-right:20px;
	float:left;
	padding-bottom:5px;
	margin-right:20px;
}
.profile-tab{
	border-bottom: 1px solid #dbdbdb;
	overflow: hidden;
}
.profile-tab li.active{
	border-bottom: 2px solid #23C670;
}
.wallet-content{
	padding:20px;
}
.alert_no_money{
	padding-top:50px;
	padding-bottom:30px;
	border-bottom: 1px solid #dbdbdb;
	max-width:275px;
	margin:20px auto;
	color:#6B6A6B;
	font-size: 16px;
	font-weight:300;
}
.left-icon{
	margin-right:5px;
}
#profile-mail{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
